<div class="main users-edit">
  <div class="container">
    <div class="form-heading">
      <h1>EDIT</h1>
    </div>
    <div class="form users-form">
      <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
      <% end %>
      <%= form_with url: users_update_path do |f| %>
      <div class="form-item">
        <%= f.label :image %>
        <%= f.file_field :image %>
      </div>
      <div class="form-item">
        <%= f.label :Name %>
        <%= f.text_field :name, value: current_user.name %>
      </div>
      <div class="form-item">
        <%= f.label :Email %>
        <%= f.email_field :email, value: current_user.email %>
      </div>
    </div>
    <div class="btn">
      <%= f.submit 'SAVE'  %>
    </div>
    <% end %>
  </div>
</div>
