<div class="main users-new">
  <div class="container">
    <div class="form-heading">Welcome to MY VOCAB</div>
    <div class="form users-form">

      <% @user.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>

      <%= form_tag("/users/create", {multipart: true}) do %>
          <div class="form-title">ユーザー名</div>
          <input name="name" value="<%= @user.name %>">

          <div class="form-title">メールアドレス</div>
          <input name="email" value="<%= @user.email %>">

          <div class="form-title">生年月日(公開されません)</div>
          <input name="birthday" value="<%= @user.birthday %>">

          <div class="form-title">パスワード</div>
          <input name="password" type="password">

          <input type="submit" value="新規登録"　class="border_slide_btn">
        <% end %>
    </div>
  </div>
</div>
