<div class="main top-main">
  <div class="top-message">
    <h2>MYVOCAB</h2>
    <p>Create a list of vocabulary that only you need,<br>
       by you, for you.
    </p>
  </div>

  <div class="form top-users-form">

    <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>

    <%= form_tag("/users/create", {multipart: true}) do %>
        <div class="form-title">Name <span class="required">※required</span></div>
        <input name="name" value="<%= @user.name %>">

        <div class="form-title">Email <span class="required">※required</span></div>
        <input name="email" value="<%= @user.email %>">

        <div class="form-title">Date of Birth (YYYYMMDD)</div>
        <input name="birthday" value="<%= @user.birthday %>">

        <div class="form-title">Password <span class="required">※required</span></div>
        <input name="password" type="password">

        <input type="submit" value="Signup"　class="border_slide_btn">
      <% end %>
  </div>
</div>
