<div class="main posts-edit">
  <div class="posts-edit-contaier">
    <%# <h1 class="form-heading">EDIT</h1> %>
    <%= form_tag("/posts/#{@post.id}/update", class: "posts-edit-form") do %>

      <div class="posts-edit-form-body">
        <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
        <input name="content"  type="text" value="<%= @post.content %>">
        <input name="meaning"  type="text" value="<%= @post.meaning %>">
        <input name="example"  type="text" value="<%= @post.example %>">
        <input name="synonyms" type="text" value="<%= @post.synonyms %>">
        <input name="antonyms" type="text" value="<%= @post.antonyms %>">
        <textarea name="note"><%= @post.note %></textarea>
        <input type="submit" value="SAVE">
      </div>
    </div>
    <% end %>
  </div>
</div>
