<div class="main posts-index">
  <div class="pagination-box">
    <%= paginate @posts %>
  </div>
  <%= form_tag posts_index_path, method: :get do %>
    <%= select_tag :tag_id,
                   options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                   {
                     prompt: '全てのVOCAB',
                     onchange: 'submit(this.form);'
                   }
    %>
  <% end %>
  <div class="posts-index-container">
    <div class="posts-new-index-container">
      <div class="post-form">
        <%= form_with url: "/posts/create", method: :post, local: true do |f| %>

        <div class="form-item form-item-content">
          <%= f.text_field :content, placeholder: "Vocab", autofocus: true %>
        </div>
        <div class="form-item">
          <%= f.text_field :meaning, placeholder: "Meaning" %>
        </div>
        <div class="form-item">
          <%= f.text_field :example, placeholder: "Example sentence" %>
        </div>
        <div class="form-item">
          <%= f.text_field :synonyms, placeholder: "Synonyms" %>
        </div>
        <div class="form-item">
          <%= f.text_field :antonyms, placeholder: "Antonyms" %>
        </div>
        <div class="form-item">
          <%= f.text_area :note, size: "30x7",placeholder: "Note" %>
        </div>

        <div class="submit"><%= f.submit("Add Vocab") %></div>
        <% end %>
      </div>


      <div class="posts-index-box">
        <% @posts.each do |post| %>
        <div class="posts-index-item">
          <div class="post-item-username">
            <%= post.user.name %>
          </div>
          <div class="post-left">
            <% if post.user.image_name.blank? %>
              <%= link_to image_tag("/user_images/default_user_image.gif"), "/users/#{post.user.id}" %>
            <% else %>
              <%= link_to image_tag("/user_images/#{post.user.image_name}"), "/users/#{post.user.id}" %>
            <% end %>
          </div>
          <div class="post-item-content">
            <%= link_to(post.content, "/posts/#{post.id}") %>
          </div>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
