<div class="main posts-index">
  <div class="posts-index-container">
    <div class="pagination-box">
      <%= paginate @personal_posts %>
    </div>

    <div class="posts-new-index-container">
      <div class="post-form">
        <%= form_with url: "/posts/create", method: :post, local: true do |f| %>

        <div class="form-item form-item-content">
          <%= f.text_field :content, placeholder: "Vocab", autofocus: true %>
        </div>
        <div class="form-item">
          <%= f.text_field :meaning, placeholder: "Meaning" %>
        </div>
        <div class="form-item">
          <%= f.text_field :example, placeholder: "Example sentence" %>
        </div>
        <div class="form-item">
          <%= f.text_field :synonyms, placeholder: "Synonyms" %>
        </div>
        <div class="form-item">
          <%= f.text_field :antonyms, placeholder: "Antonyms" %>
        </div>
        <div class="form-item">
          <%= f.text_area :note, size: "30x7",placeholder: "Note" %>
        </div>

        <div class="submit"><%= f.submit("Add Vocab") %></div>
        <% end %>
      </div>

      <div class="posts-index-box">
        <% @personal_posts.each do |post| %>
        <div class="posts-index-item">
          <div class="personal-post-item-content">
            <%= link_to(post.content, "/posts/#{post.id}") %>
          </div>



          <% if Like.find_by(user_id: current_user.id, post_id: post.id) %>
           <div class="post-item-bookmarked-icon">
             <%= link_to("/likes/#{post.id}/destroy", {method: "post"}) do %>
               <span class="fas fa-bookmark"</span>
             <% end %>
           </div>
          <% else %>
          <div class="post-item-bookmarked-icon">
             <%= link_to("/likes/#{post.id}/create", {method: "post"}) do %>
               <span class="far fa-bookmark"></span>
             <% end %>
          </div>
          <% end %>



        </div>
        <% end %>
      </div>

    </div>
    <div class="pagination-box">
      <%= paginate @personal_posts %>
    </div>
  </div>
</div>
