<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-user-name">
        <img src="<%= "/user_images/#{@user.image_name}" %>">
        <%= link_to(@user.name, "/users/#{@user.id}") %>
      </div>
     <p><%= @post.content %></p>
     <p><%= @post.meaning %></p>
     <p><%= @post.example %></p>
     <p><%= @post.synonyms %></p>
     <p><%= @post.antonyms %></p>
     <p><%= @post.note %></p>
     <div class="post-time">
       <%= @post.created_at %>
     </div>
     <% if Like.find_by(user_id:@current_user, post_id: @post.id) %>
      <div class="like-box">
        <%= link_to("/likes/#{@post.id}/destroy", {method: "post"}) do %>
          <span class="fas fa-bookmark"</span>
        <% end %>
     <% else %>
        <%= link_to("/likes/#{@post.id}/create", {method: "post"}) do %>
          <span class="far fa-bookmark"></span>
        <% end %>
      </div>
     <% end %>

     <% if @post.user_id == @current_user.id %>
     <div class="post-menus">
       <%= link_to("EDIT", "/posts/#{@post.id}/edit") %>
       <%= link_to("DELETE", "/posts/#{@post.id}/destroy", {method:"post"}) %>
     </div>
     <% end %>
   </div>
  </div>
</div>
