<div class="main posts-show">
  <%= render partial: 'posts/phone_post_show' %>
  <div class="post-show-container">
    <div class="posts-show-item-box">
      <p class="posts-show-item-content"><%= @post.content %></p>
      <p class="posts-show-item-meaning" ><%= @post.meaning %></p>
      <div class="posts-show-item", id="example">
        <div class="item-header">Example sentence</div>
        <p><%= @post.example %></p>
      </div>
      <div class="posts-show-item", id="synonyms">
        <div class="item-header">Synonyms</div>
        <p><%= @post.synonyms %></p>
      </div>
      <div class="posts-show-item", id="antonyms">
        <div class="item-header">Antonyms</div>
        <p><%= @post.antonyms %></p>
      </div>
    </div>

    <div class="posts-show-item-box">

      <div class="posted-time">
        <%= @post.created_at.strftime("%Y/%m/%d") %>
      </div>

      <div class="post-menus">
        <% if @post.user_id == current_user.id %>
        <div class="post-menu">
          <%= link_to("EDIT", "/posts/#{@post.id}/edit") %>
        </div>
        <div class="post-menu">
          <%= link_to 'DELETE', "/posts/#{@post.id}/destroy", method: :post, data: { confirm: 'Are you sure?' } %>
        </div>
        <% end %>
      </div>

      <% if Like.find_by(user_id: current_user.id, post_id: @post.id) %>
      <div class="bookmarked-icon">
        <%= link_to("/likes/#{@post.id}/destroy", {method: "post"}) do %>
          <span class="fas fa-bookmark"</span>
        <% end %>
      </div>
      <% else %>
      <div class="bookmarked-icon">
        <%= link_to("/likes/#{@post.id}/create", {method: "post"}) do %>
          <span class="far fa-bookmark"></span>
        <% end %>
      </div>
      <% end %>

      <div class="posts-show-item", id="notes">
        <div class="item-header">Notes</div>
        <%= simple_format(@post.note) %>
      </div>
    </div>
  </div>
</div>
