<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-user-name">
        <img src="<%= "/user_images/#{@user.image_name}" %>">
        <%= link_to(@user.name, "/users/#{@user.id}") %>
      </div>
     <p><%= @post.content %></p>
     <p><%= @post.meaning %></p>
     <p><%= @post.example %></p>
     <p><%= @post.synonyms %></p>
     <p><%= @post.antonyms %></p>
     <p><%= @post.note %></p>
     <div class="post-time">
       <%= @post.created_at %>
     </div>
     <div class="post-menus">
       <%= link_to("EDIT", "/posts/#{@post.id}/edit") %>
       <%= link_to("DELETE", "/posts/#{@post.id}/destroy", {method:"post"}) %>
     </div>
   </div>
  </div>
</div>
